.user-list-container {
    height: 397px;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 20px;
}


.message-container {
    padding: 10px;
    margin-bottom: 20px;
  }